.link {
  fill: none;
  stroke: #999;
}
@font-face {
  font-family: "HanaMinB";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/HanaMinB.otf") format("opentype");
}
a {
  color: #000000;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
}